body {
  margin: 0;
  /* background-color: #B9FFFC; */
  /* background-image: url("../public/bg-image.jpg"); */
  

}

:root{
  /* --color-bg: #a3d8f4; */
  /* --color-bg:rgba(163,74,117,0.2); */
  /* --color-bg: rgba(163, 216, 244, 0.8); */
  --color-text: black;
  --color-accent: rgba(46, 52, 236, 0.8);
  /* --color-accent:rgb(48,27,96); */
  /* color: white; */
}
/* https://colorhunt.co/palette/7579e79ab3f5a3d8f4b9fffc */

