.grid{
    width: 100%;
    margin: 10px;
    /* background-color: #e3c5f7; */

}
.homeGrid{
    /* background-color: transparent; */
    border: 2px solid black;
    border-radius: 10px;
    margin:10px;
    padding: 0px 10px;
    height: 50px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homeGrid:hover{
    background-color: var(--color-accent);
    transition: 250ms;
}
.deleteBtn{
    cursor: pointer;
    color: maroon;
}

.homeGrid__title{
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    /* text-align: center; */
}