a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.header {

    /* background-color: #222831; */
    background-color: rgb(32 32 32);
    /*     background-color: var(--color-accent); */

    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    color: #9214e6;
    font-size: 1.5em;
    /* color: black; */
    letter-spacing: 3px;
}

.nav-items {
    display: flex;
}

.nav-items div {
    letter-spacing: 3px;
    /* color: #9214e6; */
    color: white;
    font-size: 0.8em;
    margin-right: 20px;
    cursor: pointer;
}

.line {
    color: #9214e6;
}