.ViewList{
    margin-top:5em;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
   
}
.taskList-item-complete{
    cursor: pointer;
    margin-top: 10px;
    /* border: 1px solid black; */
    border: 2px solid rgb(32 32 32);
    /* border-bottom: 2px solid rgb(32 32 32); */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;    
}
.taskList-item-complete:before{
    content:"";
    position: absolute;
    top:50%;
    left: 10;
    border-bottom: 2px solid white;
    width: 90%;
}
.taskList-top-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

}
.backBtn{
    margin-left: 10px;
    font-size: 50px;
    /* color: rgba(146,20,230); */
}

.saveBtn{
    cursor: pointer;
    background-color: rgba(146,20,230);
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
}

.title{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.viewList__tickBtn{
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}

.viewList__editBtn{
    margin-left: 30px;
    font-size: 25px;
    cursor: pointer;
}

.titleText{
    width: 95%;
    font-size: 40px;
    color:white;
    background-color: transparent;
}

.titleTextInput{
    width: 95%;
    font-size: 40px;
    color:white;
    border: 1px solid black;
    padding: 10px;
    background-color: transparent;

}



.taskInput{
    width: 100%;
    margin-top:50px;
    display: flex;
    align-items: center;
}
.taskText{
    color:white;
    width: 95%;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    /* border-top: 2px solid rgb(32 32 32);
    border-bottom: 2px solid rgb(32 32 32); */
}


.viewList__addBtn{
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}


.taskList{
    width: 100%;
    padding: 10px;
    padding-top: 20px;
}

.taskList-item{
    /* cursor: pointer; */
    margin-top: 10px;
    /* border-radius: 5px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(32 32 32);
    /* border-bottom: 2px solid rgb(32 32 32); */

    
}
.taskList-item-text{
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}
.taskList-item-btns{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.taskList-item-btn{
    cursor: pointer;;
    margin-left: 15px;
}