.ViewList{
    margin-top:5em;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
   
}
.taskList-item-complete{
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;    
}
.taskList-item-complete:before{
    content:"";
    position: absolute;
    top:50%;
    left: 10;
    border-bottom: 2px solid black;
    width: 90%;
}
.taskList-top-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

}
.backBtn{
    margin-left: 10px;
    font-size: 30px;
}

.saveBtn{
    cursor: pointer;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
}

.title{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.viewList__tickBtn{
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}

.viewList__editBtn{
    margin-left: 30px;
    font-size: 25px;
    cursor: pointer;
}

.titleText{
    width: 95%;
    font-size: 40px;
}




.taskInput{
    width: 100%;
    margin-top:50px;
    display: flex;
    align-items: center;
}
.taskText{
    width: 95%;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
}
.viewList__addBtn{
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}


.taskList{
    width: 100%;
    padding: 10px;
    padding-top: 20px;
}

.taskList-item{
    /* cursor: pointer; */
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.taskList-item-text{
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}
.taskList-item-btns{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.taskList-item-btn{
    cursor: pointer;;
    margin-left: 15px;
}